@import 'vars';
@import 'typography';
@import 'map';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: Helvetica, sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
}


.page {
  margin: 8px;
}

// http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
