@import 'vars';
@import 'typography';

body {
  overflow-x: hidden;
}
#map-page {
  background-color: $background--dark;
  overflow: hidden;
}

#map-view {
  height: 100vh;
  width: 100vw;
}

#map-menu-container {
  position:absolute;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  color: black;
  background-color: $background--light;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  overflow: hidden;
  top: 3em;
  left: 4em;
  right: 3em;
  z-index: 6001;
  opacity: 1;
  &.ng-hide {
    left: 100%;
    right: -200%;
    opacity: 0;
    display: block !important;
  }
  .title {
    text-align: center;
  }
  li {
    list-style-type: none;
  }
  a {
    margin: 0.1em;
  }
  .tracking-indicator {
    color: red;
  }
}


// https://github.com/brunob/leaflet.fullscreen/blob/master/Control.FullScreen.css
.leaflet-control-zoom-fullscreen {
  background-image: url("../images/icon-fullscreen.png");
}
.leaflet-retina .leaflet-control-zoom-fullscreen {
  background-image: url("../images/icon-fullscreen-2x.png");
  background-size: 26px 26px;
}
.leaflet-container:-webkit-full-screen {
  width: 100% !important;
  height: 100% !important;
  z-index: 99999;
}
.leaflet-pseudo-fullscreen {
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
  top: 0px !important;
  left: 0px !important;
  z-index: 99999;
}

.leaflet-top.leaflet-right {
  .leaflet-bar {
    margin-right: 0;
    margin-top: 0;
    a:last-child {
      height: 3em;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    // corner button
    .leaflet-control-map-menu {
      font-size: 2em;
      padding-top: 2em;
      vertical-align: middle;
    }
  }
}
