@import 'vars';
@import 'typography';
@import 'mixins';


#trackers-page {
  .tracker-row {

  }
  .tracker-summary {
    &:hover {
      color: $hover-color;
      background-color: $hover-background;
      cursor: pointer;
    }
  }
  .session-rows {
    li {
      list-style-type: none;
      &:hover {
        color: $hover-color;
        background-color: $hover-background;
        cursor: pointer;
      }

    }
  }

  .session-code {
    color: grey;
  }

  li.selected {
    background-color: $selected;
    &::after {
      content: " [selected]";
      color: blue;
      font-weight: bold;
}
  }
}
