<div id="map-menu-container" class="ng-hide">
  <div id="map-menu" class="noselect">
    <div id="menu-content">
      <h2 class="title">
        Map menu
      </h2>
      <div id="map-menu-links">
        <ul>
          <li>
            <a ng-href="/trackers">Select trackers</a>
          </li>
          <li>
            <a ng-href="/">Front page</a>
          </li>
          <li>
            <a href="#" ng-click="ctrl.locateMe()">Locate me</a>
          </li>
          <li>
            <a ng-click="xx()">Enable tracking</a>
          </li>
      </ul>
      </div>
    </div>
  </div>

</div>
