<div id="login-form">
  <form class="pure-form pure-form-stacked" name="form" novalidate>
    <fieldset>
      <legend>Login to {{::ctrl.appTitle}}</legend>


      <div class="form-field">
        <div class="validation-error" ng-messages="form.username.$error" ng-if="form.$submitted || form.username.$touched">
          <small ng-message="required">Email is required.</small>
          <small ng-message="email">Give valid email address.</small>
        </div>
        <input name="username" type="email" placeholder="Email address" ng-model="ctrl.data.email" required ng-model-options="{ debounce : { 'default' : 500 } }">
      </div>

      <div class="form-field">
        <div class="validation-error" ng-messages="form.password.$error" ng-if="form.$submitted || form.password.$touched">
          <small ng-message="required">Password is required.</small>
          <small ng-message="minlength">Password must be atleast 8 characters.</small>
        </div>
        <input name="password" type="password" placeholder="Password" ng-model="ctrl.data.password" minlength="8" required ng-model-options="{ debounce : { 'default' : 500 } }">
      </div>

      <label for="remember">
        <input id="remember" type="checkbox"> Remember me
      </label>
      <button ng-click="ctrl.signIn(form.$valid, ctrl.data)" type="submit" class="pure-button pure-button-primary">Sign in</button>
      <a ng-click="ctrl.forgotPassword()" href="#">Forgot password?</a>
    </fieldset>
  </form>
</div>
