<div id="register-form">
  <form class="pure-form pure-form-stacked" name="form" novalidate>
    <fieldset>
      <legend>Register new account to {{::ctrl.appTitle}}</legend>

      <div class="form-field">
        <div class="validation-error" ng-messages="form.username.$error" ng-if="form.$submitted || form.username.$touched">
          <small ng-message="required">Email is required.</small>
          <small ng-message="email">Give valid email address.</small>
        </div>
        <input name="username" type="email" placeholder="Email address" ng-model="ctrl.data.email" required ng-model-options="{ debounce : { 'default' : 500 } }">
      </div>

      <div class="form-field">
        <div class="validation-error" ng-messages="form.password.$error" ng-if="form.$submitted || form.password.$touched">
          <small ng-message="required">Password is required.</small>
          <small ng-message="minlength">Password must be atleast 8 characters.</small>
        </div>
        <input name="password" type="password" placeholder="Password" ng-model="ctrl.data.password" minlength="8" required ng-model-options="{ debounce : { 'default' : 500 } }">
      </div>

      <button ng-click="ctrl.register(form.$valid, ctrl.data)" type="submit" class="pure-button pure-button-primary">Register</button>
    </fieldset>
  </form>
</div>
