<div>

<a href="#" id="menuLink" class="pure-menu-link">
  <span></span>
</a>

<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <a class="pure-menu-heading" href="/">RuuviTracker</a>

    <ul class="wide-navi">
      <li>
        <a href="/map">Map</a>
      </li>
      <li>
        <a href="/trackers">Trackers</a>
      </li>
    </ul>
    <ul class="wide-navi" style="float: right;">
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
    </ul>
</div>
</div>
