<div class="tracker-row">
  <div class="tracker-summary" >
    <div>
      <strong ng-click="ctrl.toggleDetails(tracker)">{{tracker.trackerCode}}</strong> <span title="{{tracker.latestActivity}}">{{tracker.latestActivity | timeAgo}}</span>
      <a ng-click="ctrl.followTracker(tracker)" class="pure-button" ng-class="{'pure-button-primary': tracker.following}">{{tracker.following ? 'Following' : 'Follow'}}</a>

    </div>
    <div ng-click="ctrl.toggleDetails(tracker)">
      {{tracker.name}}
    </div>
  </div>
  <div ng-if="ctrl.showDetails" class="tracker-details">
    Created <strong title="{{tracker.createdOn}}">{{tracker.createdOn | timeAgo}}</strong>
    <span ng-if="tracker.latestActivity">
      Latest: <strong title="{{tracker.latestActivity}}">{{tracker.latestActivity | timeAgo}}</strong>
    </span>
    <div ng-if="tracker.sessions.length != 0">
      Sessions
      <ul class="session-rows">
        <li ng-repeat="session in tracker.sessions" ng-click="ctrl.selectSession(session)" ng-class="{selected: session.selected}">
          <!-- show ago + duration -->
          <code title="session.id">{{::session.id}}</code>
          <span title="{{::session.firstEventTime}}">{{::session.firstEventTime | timeAgo}}</span>
          <span title="session's duration (ms) buggy">{{::session.duration}}</span>
          <small class="session-code"><code title="session code">{{::session.sessionCode}}</code></small>
        </li>
      </ul>
    </div>
    <div ng-if="tracker.sessions.length == 0">
      No sessions
    </div>
  </div>
</div>
