<div class="tracker-row">
  <div class="tracker-summary" ng-click="ctrl.toggleDetails(tracker)">
    <div>
      <strong>{{tracker.tracker_code}}</strong> <span title="{{tracker.latest_activity}}">{{tracker.latest_activity | timeAgo}}</span>
    </div>
    <div>
      {{tracker.name}}
    </div>
  </div>
  <div ng-if="ctrl.showDetails" class="tracker-details">
    Created <strong title="{{tracker.created_on}}">{{tracker.created_on | timeAgo}}</strong>
    <span ng-if="tracker.latest_activity">
      Latest: <strong title="{{tracker.latest_activity}}">{{tracker.latest_activity | timeAgo}}</strong>
    </span>
    <div ng-if="tracker.sessions.length != 0">
      Sessions
      <ul class="session-rows">
        <li ng-repeat="session in tracker.sessions">
          <!-- show ago + duration -->
          <code>{{::session.id}}</code>
          <span title="{{::session.first_event_time}}">{{::session.first_event_time | timeAgo}}</span>
          <span>{{::session.duration}}</span>
          <code>{{::session.session_code}}</code>
        </li>
      </ul>
    </div>
    <div ng-if="tracker.sessions.length == 0">
      No sessions
    </div>
  </div>
</div>
