<div class="tracker-row">
  <div class="tracker-summary" ng-click="ctrl.toggleDetails(tracker)">
    <div>
      <strong>{{tracker.trackerCode}}</strong> <span title="{{tracker.latestActivity}}">{{tracker.latestActivity | timeAgo}}</span>
    </div>
    <div>
      {{tracker.name}}
    </div>
  </div>
  <div ng-if="ctrl.showDetails" class="tracker-details">
    Created <strong title="{{tracker.createdOn}}">{{tracker.createdOn | timeAgo}}</strong>
    <span ng-if="tracker.latestActivity">
      Latest: <strong title="{{tracker.latestActivity}}">{{tracker.latestActivity | timeAgo}}</strong>
    </span>
    <div ng-if="tracker.sessions.length != 0">
      Sessions
      <ul class="session-rows">
        <li ng-repeat="session in tracker.sessions" ng-click="ctrl.selectSession(session)">
          <!-- show ago + duration -->
          <code>{{::session.id}}</code>
          <span title="{{::session.firstEventTime}}">{{::session.firstEventTime | timeAgo}}</span>
          <span>{{::session.duration}}</span>
          <code>{{::session.sessionCode}}</code>
        </li>
      </ul>
    </div>
    <div ng-if="tracker.sessions.length == 0">
      No sessions
    </div>
  </div>
</div>
